Frisa-Consultas/Model/classes/model/GestorLineaCapturaWS1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://ws.negocio.tic.frisa.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.negocio.tic.frisa.mx/">
  <xsd:complexType name="consultaDetalleLCPagos">
    <xsd:sequence>
      <xsd:element name="detalleLineaCaptura" type="ns0:detalleLCPagosDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaDetalleLCPagosResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:respuestaDetalleLCPagosDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaDetalleLineaCaptura">
    <xsd:sequence>
      <xsd:element name="lineaCaptura" type="xsd:string" minOccurs="0"/>
      <xsd:element name="entidadLegal" type="xsd:string" minOccurs="0"/>
      <xsd:element name="referencia" type="xsd:string" minOccurs="0"/>
      <xsd:element name="banco" type="xsd:string" minOccurs="0"/>
      <xsd:element name="unidadNegocio" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaDetalleLineaCapturaResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:respuestaDetalleLineaCapturaDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaNumeroFacturas">
    <xsd:sequence>
      <xsd:element name="lineaCaptura" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaNumeroFacturasResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarLineaCaptura">
    <xsd:sequence>
      <xsd:element name="lineaCaptura" type="ns0:lineaCapturaDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarLineaCapturaResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:respuestaLineaCapturaDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="generarLineasCaptura">
    <xsd:sequence>
      <xsd:element name="idBatch" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="generarLineasCapturaResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:respuesta" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detalleLCPagosDTO">
    <xsd:sequence>
      <xsd:element name="fechaaplicacion" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="fecharecibo" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="fechatransaccion" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="idlineacaptura" type="xsd:long" minOccurs="0"/>
      <xsd:element name="idpago" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="montopagado" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="norecibo" type="xsd:long" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaDetalleLCPagosDTO">
    <xsd:sequence>
      <xsd:element name="detalleLCPagos" type="ns0:detalleLCPagosDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="proceso" type="ns0:proceso" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="proceso">
    <xsd:sequence>
      <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="termino" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaDetalleLineaCapturaDTO">
    <xsd:sequence>
      <xsd:element name="lineasCaptura" type="ns0:detalleLineaCapturaDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="proceso" type="ns0:proceso" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detalleLineaCapturaDTO">
    <xsd:sequence>
      <xsd:element name="banco" type="xsd:string" minOccurs="0"/>
      <xsd:element name="capitalrentacondonada" type="xsd:string" minOccurs="0"/>
      <xsd:element name="centrocostosproyecto" type="xsd:string" minOccurs="0"/>
      <xsd:element name="cuentabancaria" type="xsd:string" minOccurs="0"/>
      <xsd:element name="division" type="xsd:string" minOccurs="0"/>
      <xsd:element name="entidadlegal" type="xsd:string" minOccurs="0"/>
      <xsd:element name="estatuslc" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechacreacion" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="fechavigencia" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="folioacuerdocobranza" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idlineacaptura" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="interesmoratoriocondonado" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lineacaptura" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lineacapturaref" type="xsd:string" minOccurs="0"/>
      <xsd:element name="montoacuerdocobranza" type="xsd:string" minOccurs="0"/>
      <xsd:element name="montolineacaptura" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="numerorecibo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ordinariocondonado" type="xsd:string" minOccurs="0"/>
      <xsd:element name="referencia" type="xsd:string" minOccurs="0"/>
      <xsd:element name="sistemaorigen" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipocobranza" type="xsd:string" minOccurs="0"/>
      <xsd:element name="unidadnegocio" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lineaCapturaDTO">
    <xsd:sequence>
      <xsd:element name="fechaCreacion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lineaCaptura" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaLineaCapturaDTO">
    <xsd:sequence>
      <xsd:element name="lineasCaptura" type="ns0:lineaCapturaDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="proceso" type="ns0:proceso" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuesta">
    <xsd:sequence>
      <xsd:element name="descripcionError" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idError" type="xsd:string" minOccurs="0"/>
      <xsd:element name="proceso" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultaDetalleLCPagos" type="ns0:consultaDetalleLCPagos"/>
  <xsd:element name="consultaDetalleLCPagosResponse" type="ns0:consultaDetalleLCPagosResponse"/>
  <xsd:element name="consultaDetalleLineaCaptura" type="ns0:consultaDetalleLineaCaptura"/>
  <xsd:element name="consultaDetalleLineaCapturaResponse" type="ns0:consultaDetalleLineaCapturaResponse"/>
  <xsd:element name="consultaNumeroFacturas" type="ns0:consultaNumeroFacturas"/>
  <xsd:element name="consultaNumeroFacturasResponse" type="ns0:consultaNumeroFacturasResponse"/>
  <xsd:element name="consultarLineaCaptura" type="ns0:consultarLineaCaptura"/>
  <xsd:element name="consultarLineaCapturaResponse" type="ns0:consultarLineaCapturaResponse"/>
  <xsd:element name="generarLineasCaptura" type="ns0:generarLineasCaptura"/>
  <xsd:element name="generarLineasCapturaResponse" type="ns0:generarLineasCapturaResponse"/>
</xsd:schema>