Frisa-Consultas/Model/classes/mx/frisa/tic/negocio/ws/CatalogoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="CatalogoWS" targetNamespace="http://ws.negocio.tic.frisa.mx/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.negocio.tic.frisa.mx/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.negocio.tic.frisa.mx/" schemaLocation="CatalogoWS1.xsd"/>
    </xsd:schema>
  </types>
  <message name="consultarPais">
    <part name="parameters" element="tns:consultarPais"/>
  </message>
  <message name="consultarPaisResponse">
    <part name="parameters" element="tns:consultarPaisResponse"/>
  </message>
  <message name="consultarTipoMoneda">
    <part name="parameters" element="tns:consultarTipoMoneda"/>
  </message>
  <message name="consultarTipoMonedaResponse">
    <part name="parameters" element="tns:consultarTipoMonedaResponse"/>
  </message>
  <message name="consultarCuentaBancaria">
    <part name="parameters" element="tns:consultarCuentaBancaria"/>
  </message>
  <message name="consultarCuentaBancariaResponse">
    <part name="parameters" element="tns:consultarCuentaBancariaResponse"/>
  </message>
  <portType name="CatalogoWS">
    <operation name="consultarPais">
      <input message="tns:consultarPais" wsam:Action="http://ws.negocio.tic.frisa.mx/CatalogoWS/consultarPaisRequest"/>
      <output message="tns:consultarPaisResponse"
              wsam:Action="http://ws.negocio.tic.frisa.mx/CatalogoWS/consultarPaisResponse"/>
    </operation>
    <operation name="consultarTipoMoneda">
      <input message="tns:consultarTipoMoneda"
             wsam:Action="http://ws.negocio.tic.frisa.mx/CatalogoWS/consultarTipoMonedaRequest"/>
      <output message="tns:consultarTipoMonedaResponse"
              wsam:Action="http://ws.negocio.tic.frisa.mx/CatalogoWS/consultarTipoMonedaResponse"/>
    </operation>
    <operation name="consultarCuentaBancaria">
      <input message="tns:consultarCuentaBancaria"
             wsam:Action="http://ws.negocio.tic.frisa.mx/CatalogoWS/consultarCuentaBancariaRequest"/>
      <output message="tns:consultarCuentaBancariaResponse"
              wsam:Action="http://ws.negocio.tic.frisa.mx/CatalogoWS/consultarCuentaBancariaResponse"/>
    </operation>
  </portType>
  <binding name="CatalogoWSPortBinding" type="tns:CatalogoWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="consultarPais">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarTipoMoneda">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarCuentaBancaria">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CatalogoWS">
    <port name="CatalogoWSPort" binding="tns:CatalogoWSPortBinding">
      <soap:address location="http://localhost:7001/frisa-servicios/CatalogoWS"/>
    </port>
  </service>
</definitions>