Frisa-Consultas/Model/classes/mx/frisa/tic/negocio/ws/GestorPagosWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.negocio.tic.frisa.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.negocio.tic.frisa.mx/" name="GestorPagosWS">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.negocio.tic.frisa.mx/" schemaLocation="GestorPagosWS1.xsd"/>
    </xsd:schema>
  </types>
  <message name="generarPago">
    <part name="parameters" element="tns:generarPago"/>
  </message>
  <message name="generarPagoResponse">
    <part name="parameters" element="tns:generarPagoResponse"/>
  </message>
  <message name="consultarReferenciaLCExistente">
    <part name="parameters" element="tns:consultarReferenciaLCExistente"/>
  </message>
  <message name="consultarReferenciaLCExistenteResponse">
    <part name="parameters" element="tns:consultarReferenciaLCExistenteResponse"/>
  </message>
  <message name="consultarPagosSinReferencia">
    <part name="parameters" element="tns:consultarPagosSinReferencia"/>
  </message>
  <message name="consultarPagosSinReferenciaResponse">
    <part name="parameters" element="tns:consultarPagosSinReferenciaResponse"/>
  </message>
  <message name="aplicarPagoManual">
    <part name="parameters" element="tns:aplicarPagoManual"/>
  </message>
  <message name="aplicarPagoManualResponse">
    <part name="parameters" element="tns:aplicarPagoManualResponse"/>
  </message>
  <portType name="GestorPagosWS">
    <operation name="generarPago">
      <input wsam:Action="http://ws.negocio.tic.frisa.mx/GestorPagosWS/generarPagoRequest" message="tns:generarPago"/>
      <output wsam:Action="http://ws.negocio.tic.frisa.mx/GestorPagosWS/generarPagoResponse" message="tns:generarPagoResponse"/>
    </operation>
    <operation name="consultarReferenciaLCExistente">
      <input wsam:Action="http://ws.negocio.tic.frisa.mx/GestorPagosWS/consultarReferenciaLCExistenteRequest" message="tns:consultarReferenciaLCExistente"/>
      <output wsam:Action="http://ws.negocio.tic.frisa.mx/GestorPagosWS/consultarReferenciaLCExistenteResponse" message="tns:consultarReferenciaLCExistenteResponse"/>
    </operation>
    <operation name="consultarPagosSinReferencia">
      <input wsam:Action="http://ws.negocio.tic.frisa.mx/GestorPagosWS/consultarPagosSinReferenciaRequest" message="tns:consultarPagosSinReferencia"/>
      <output wsam:Action="http://ws.negocio.tic.frisa.mx/GestorPagosWS/consultarPagosSinReferenciaResponse" message="tns:consultarPagosSinReferenciaResponse"/>
    </operation>
    <operation name="aplicarPagoManual">
      <input wsam:Action="http://ws.negocio.tic.frisa.mx/GestorPagosWS/aplicarPagoManualRequest" message="tns:aplicarPagoManual"/>
      <output wsam:Action="http://ws.negocio.tic.frisa.mx/GestorPagosWS/aplicarPagoManualResponse" message="tns:aplicarPagoManualResponse"/>
    </operation>
  </portType>
  <binding name="GestorPagosWSPortBinding" type="tns:GestorPagosWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="generarPago">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarReferenciaLCExistente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarPagosSinReferencia">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="aplicarPagoManual">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GestorPagosWS">
    <port name="GestorPagosWSPort" binding="tns:GestorPagosWSPortBinding">
      <soap:address location="http://192.168.80.1:7001/frisa-servicios/GestorPagosWS"/>
    </port>
  </service>
</definitions>