Frisa-Consultas/Model/classes/mx/frisa/tic/negocio/ws/GestorAccesoWS1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://ws.negocio.tic.frisa.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.negocio.tic.frisa.mx/">
  <xsd:complexType name="actualizarAcceso">
    <xsd:sequence>
      <xsd:element name="idAcceso" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="actualizarAccesoResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:respuestaDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="agregarUsuario">
    <xsd:sequence>
      <xsd:element name="usuarioAcceso" type="ns0:agregarUsuarioDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="agregarUsuarioResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:respuestaDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarAccesos">
    <xsd:sequence>
      <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarAccesosResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:consultarAccesoUsuarioDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaDTO">
    <xsd:sequence>
      <xsd:element name="descripcionError" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idError" type="xsd:string" minOccurs="0"/>
      <xsd:element name="proceso" type="xsd:string" minOccurs="0"/>
      <xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="agregarUsuarioDTO">
    <xsd:sequence>
      <xsd:element name="centroCostos" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idacceso" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="unidadNegocio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarAccesoUsuarioDTO">
    <xsd:sequence>
      <xsd:element name="accesos" type="ns0:accesoUsuarioDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="accesoUsuarioDTO">
    <xsd:sequence>
      <xsd:element name="centrocostos" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idacceso" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="unidadnegocio" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="actualizarAcceso" type="ns0:actualizarAcceso"/>
  <xsd:element name="actualizarAccesoResponse" type="ns0:actualizarAccesoResponse"/>
  <xsd:element name="agregarUsuario" type="ns0:agregarUsuario"/>
  <xsd:element name="agregarUsuarioResponse" type="ns0:agregarUsuarioResponse"/>
  <xsd:element name="consultarAccesos" type="ns0:consultarAccesos"/>
  <xsd:element name="consultarAccesosResponse" type="ns0:consultarAccesosResponse"/>
</xsd:schema>