Frisa-Consultas/Model/classes/mx/frisa/tic/negocio/ws/GestorPagosWS1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://ws.negocio.tic.frisa.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.negocio.tic.frisa.mx/">
  <xsd:complexType name="aplicarPagoManual">
    <xsd:sequence>
      <xsd:element name="aplicarPago" type="ns0:aplicarPagoDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="aplicarPagoManualResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:respuestaAplicarPagoDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarPagosSinReferencia">
    <xsd:sequence>
      <xsd:element name="filtros" type="ns0:filtroPagoSinReferencia" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarPagosSinReferenciaResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:respuestaPagoSinReferencia" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarReferenciaLCExistente">
    <xsd:sequence>
      <xsd:element name="filtros" type="ns0:peticionExistente" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarReferenciaLCExistenteResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:respuestaClienteDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="generarPago">
    <xsd:sequence>
      <xsd:element name="pago" type="ns0:pagoDTO" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="generarPagoResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:respuestaProcesaFacturasDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="aplicarPagoDTO">
    <xsd:sequence>
      <xsd:element name="pagoPorAplicar" type="ns0:pagoPorAplicarDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pagoPorAplicarDTO">
    <xsd:sequence>
      <xsd:element name="idEdoCuenta" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="idLineaCaputura" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="idPago" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="referencia" type="xsd:string" minOccurs="0"/>
      <xsd:element name="termino" type="xsd:integer" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaAplicarPagoDTO">
    <xsd:sequence>
      <xsd:element name="aplicarPago" type="ns0:aplicarPagoDTO" minOccurs="0"/>
      <xsd:element name="proceso" type="ns0:proceso" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="proceso">
    <xsd:sequence>
      <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="termino" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="filtroPagoSinReferencia">
    <xsd:sequence>
      <xsd:element name="cuentaBancaria" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaFinal" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaInicial" type="xsd:string" minOccurs="0"/>
      <xsd:element name="mostrarAplicar" type="xsd:string" minOccurs="0"/>
      <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaPagoSinReferencia">
    <xsd:sequence>
      <xsd:element name="lineas" type="ns0:lineaEstadoCuentaDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="proceso" type="ns0:proceso" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lineaEstadoCuentaDTO">
    <xsd:sequence>
      <xsd:element name="cliente" type="xsd:string" minOccurs="0"/>
      <xsd:element name="conceptoMovimiento" type="xsd:string" minOccurs="0"/>
      <xsd:element name="cuentaBancaria" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="fecha" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idEstadoCuenta" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="idPago" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="metodoPago" type="xsd:string" minOccurs="0"/>
      <xsd:element name="monto" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="orgID" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="proyecto" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="tipoDeposito" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="peticionExistente">
    <xsd:sequence>
      <xsd:element name="idPago" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="lineaCaptura" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numeroRecibo" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="referencia" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaClienteDTO">
    <xsd:sequence>
      <xsd:element name="cliente" type="xsd:string" minOccurs="0"/>
      <xsd:element name="estadoCobro" type="xsd:string" minOccurs="0"/>
      <xsd:element name="estadoConciliacion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idPago" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="montoPendienteDeAplicar" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="nombrePago" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numeroCobro" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="proceso" type="ns0:proceso" minOccurs="0"/>
      <xsd:element name="proyectoID" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="unidadNegocio" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pagoDTO">
    <xsd:sequence>
      <xsd:element name="billCustomerName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="customerId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaAplicacion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaContable" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaCreacion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idCabeceraRecibo" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="idEdoCta" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="lineaCaptura" type="xsd:string" minOccurs="0"/>
      <xsd:element name="metodoId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="moneda" type="xsd:string" minOccurs="0"/>
      <xsd:element name="monto" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nroRecibo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="referencia" type="xsd:string" minOccurs="0"/>
      <xsd:element name="siteId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="unidadNegocio" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaProcesaFacturasDTO">
    <xsd:sequence>
      <xsd:element name="descripcionError" type="xsd:string" minOccurs="0"/>
      <xsd:element name="facturas" type="ns0:facturaPagoDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="idError" type="xsd:string" minOccurs="0"/>
      <xsd:element name="proceso" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="facturaPagoDTO">
    <xsd:sequence>
      <xsd:element name="billtoconsumername" type="xsd:string" minOccurs="0"/>
      <xsd:element name="billtolocation" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="businessunitname" type="xsd:string" minOccurs="0"/>
      <xsd:element name="clasificadordescuento" type="xsd:string" minOccurs="0"/>
      <xsd:element name="creationdategl" type="xsd:string" minOccurs="0"/>
      <xsd:element name="creationdatetrx" type="xsd:string" minOccurs="0"/>
      <xsd:element name="customerTrxID_ERP" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descadicional1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descadicional2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descadicional3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descadicional4" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descadicional5" type="xsd:string" minOccurs="0"/>
      <xsd:element name="description_origen" type="xsd:string" minOccurs="0"/>
      <xsd:element name="dffheadercontext" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechadesde" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaexigibilidad" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechahasta" type="xsd:string" minOccurs="0"/>
      <xsd:element name="folioavisocargo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="generationtype" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idfacturaprimavera" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="idlinea" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lineacaptura" type="xsd:string" minOccurs="0"/>
      <xsd:element name="linenumber" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="localnumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="memolinename" type="xsd:string" minOccurs="0"/>
      <xsd:element name="montobrutolinea" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="paymenttermdays" type="xsd:short" minOccurs="0"/>
      <xsd:element name="projectid" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="quantity" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="serviceStatus_ERP" type="xsd:string" minOccurs="0"/>
      <xsd:element name="transactionID_ERP" type="xsd:int" minOccurs="0"/>
      <xsd:element name="transactionsource" type="xsd:string" minOccurs="0"/>
      <xsd:element name="transactiontype" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="aplicarPagoManual" type="ns0:aplicarPagoManual"/>
  <xsd:element name="aplicarPagoManualResponse" type="ns0:aplicarPagoManualResponse"/>
  <xsd:element name="consultarPagosSinReferencia" type="ns0:consultarPagosSinReferencia"/>
  <xsd:element name="consultarPagosSinReferenciaResponse" type="ns0:consultarPagosSinReferenciaResponse"/>
  <xsd:element name="consultarReferenciaLCExistente" type="ns0:consultarReferenciaLCExistente"/>
  <xsd:element name="consultarReferenciaLCExistenteResponse" type="ns0:consultarReferenciaLCExistenteResponse"/>
  <xsd:element name="generarPago" type="ns0:generarPago"/>
  <xsd:element name="generarPagoResponse" type="ns0:generarPagoResponse"/>
</xsd:schema>