Frisa-Consultas/Model/src/mx/frisa/tic/negocio/ws/CatalogoWS1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://ws.negocio.tic.frisa.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.negocio.tic.frisa.mx/">
  <xsd:complexType name="actualizarCuentasBancarias"/>
  <xsd:complexType name="actualizarCuentasBancariasResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:respuestaDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="actualizarUsuarios"/>
  <xsd:complexType name="actualizarUsuariosResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:respuestaDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarCentroCostos">
    <xsd:sequence>
      <xsd:element name="centroCostos" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarCentroCostosResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:consultarCentroCostosDTO" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarCuentaBancaria">
    <xsd:sequence>
      <xsd:element name="numeroCuenta" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarCuentaBancariaResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:cuentaBancariaDTO" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarPais">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:int"/>
      <xsd:element name="clave" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarPaisResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarTipoMoneda"/>
  <xsd:complexType name="consultarTipoMonedaResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:tipoMonedaDTO" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarUnidadNegocio">
    <xsd:sequence>
      <xsd:element name="unidadNegocio" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarUnidadNegocioResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:consultarUniNegocioDTO" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarUsuarios">
    <xsd:sequence>
      <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarUsuariosResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:consultarUsuarioDTO" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaDTO">
    <xsd:sequence>
      <xsd:element name="descripcionError" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idError" type="xsd:string" minOccurs="0"/>
      <xsd:element name="proceso" type="xsd:string" minOccurs="0"/>
      <xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarCentroCostosDTO">
    <xsd:sequence>
      <xsd:element name="description" type="xsd:string" minOccurs="0"/>
      <xsd:element name="flexValue" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cuentaBancariaDTO">
    <xsd:sequence>
      <xsd:element name="estatus" type="xsd:int" minOccurs="0"/>
      <xsd:element name="fecha" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="moneda" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numeroCuenta" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tipoMonedaDTO">
    <xsd:sequence>
      <xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="cveTipoMonedaFrisa" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ind_activo" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarUniNegocioDTO">
    <xsd:sequence>
      <xsd:element name="cveBu" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarUsuarioDTO">
    <xsd:sequence>
      <xsd:element name="fullname" type="xsd:string" minOccurs="0"/>
      <xsd:element name="username" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="actualizarCuentasBancarias" type="ns0:actualizarCuentasBancarias"/>
  <xsd:element name="actualizarCuentasBancariasResponse" type="ns0:actualizarCuentasBancariasResponse"/>
  <xsd:element name="actualizarUsuarios" type="ns0:actualizarUsuarios"/>
  <xsd:element name="actualizarUsuariosResponse" type="ns0:actualizarUsuariosResponse"/>
  <xsd:element name="consultarCentroCostos" type="ns0:consultarCentroCostos"/>
  <xsd:element name="consultarCentroCostosResponse" type="ns0:consultarCentroCostosResponse"/>
  <xsd:element name="consultarCuentaBancaria" type="ns0:consultarCuentaBancaria"/>
  <xsd:element name="consultarCuentaBancariaResponse" type="ns0:consultarCuentaBancariaResponse"/>
  <xsd:element name="consultarPais" type="ns0:consultarPais"/>
  <xsd:element name="consultarPaisResponse" type="ns0:consultarPaisResponse"/>
  <xsd:element name="consultarTipoMoneda" type="ns0:consultarTipoMoneda"/>
  <xsd:element name="consultarTipoMonedaResponse" type="ns0:consultarTipoMonedaResponse"/>
  <xsd:element name="consultarUnidadNegocio" type="ns0:consultarUnidadNegocio"/>
  <xsd:element name="consultarUnidadNegocioResponse" type="ns0:consultarUnidadNegocioResponse"/>
  <xsd:element name="consultarUsuarios" type="ns0:consultarUsuarios"/>
  <xsd:element name="consultarUsuariosResponse" type="ns0:consultarUsuariosResponse"/>
</xsd:schema>