Frisa-Consultas/ViewController/mx.frisa.tic.view/GestorLineaCapturaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.negocio.tic.frisa.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.negocio.tic.frisa.mx/" name="GestorLineaCapturaWS">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.negocio.tic.frisa.mx/" schemaLocation="GestorLineaCapturaWS1.xsd"/>
    </xsd:schema>
  </types>
  <message name="consultarLineaCaptura">
    <part name="parameters" element="tns:consultarLineaCaptura"/>
  </message>
  <message name="consultarLineaCapturaResponse">
    <part name="parameters" element="tns:consultarLineaCapturaResponse"/>
  </message>
  <message name="generarLineasCaptura">
    <part name="parameters" element="tns:generarLineasCaptura"/>
  </message>
  <message name="generarLineasCapturaResponse">
    <part name="parameters" element="tns:generarLineasCapturaResponse"/>
  </message>
  <message name="consultaNumeroFacturas">
    <part name="parameters" element="tns:consultaNumeroFacturas"/>
  </message>
  <message name="consultaNumeroFacturasResponse">
    <part name="parameters" element="tns:consultaNumeroFacturasResponse"/>
  </message>
  <message name="consultaDetalleLineaCaptura">
    <part name="parameters" element="tns:consultaDetalleLineaCaptura"/>
  </message>
  <message name="consultaDetalleLineaCapturaResponse">
    <part name="parameters" element="tns:consultaDetalleLineaCapturaResponse"/>
  </message>
  <message name="consultaLCFactDet">
    <part name="parameters" element="tns:consultaLCFactDet"/>
  </message>
  <message name="consultaLCFactDetResponse">
    <part name="parameters" element="tns:consultaLCFactDetResponse"/>
  </message>
  <message name="consultaDetalleLCPagos">
    <part name="parameters" element="tns:consultaDetalleLCPagos"/>
  </message>
  <message name="consultaDetalleLCPagosResponse">
    <part name="parameters" element="tns:consultaDetalleLCPagosResponse"/>
  </message>
  <portType name="GestorLineaCapturaWS">
    <operation name="consultarLineaCaptura">
      <input message="tns:consultarLineaCaptura"
             wsam:Action="http://ws.negocio.tic.frisa.mx/GestorLineaCapturaWS/consultarLineaCapturaRequest"/>
      <output message="tns:consultarLineaCapturaResponse"
              wsam:Action="http://ws.negocio.tic.frisa.mx/GestorLineaCapturaWS/consultarLineaCapturaResponse"/>
    </operation>
    <operation name="generarLineasCaptura">
      <input message="tns:generarLineasCaptura"
             wsam:Action="http://ws.negocio.tic.frisa.mx/GestorLineaCapturaWS/generarLineasCapturaRequest"/>
      <output message="tns:generarLineasCapturaResponse"
              wsam:Action="http://ws.negocio.tic.frisa.mx/GestorLineaCapturaWS/generarLineasCapturaResponse"/>
    </operation>
    <operation name="consultaNumeroFacturas">
      <input message="tns:consultaNumeroFacturas"
             wsam:Action="http://ws.negocio.tic.frisa.mx/GestorLineaCapturaWS/consultaNumeroFacturasRequest"/>
      <output message="tns:consultaNumeroFacturasResponse"
              wsam:Action="http://ws.negocio.tic.frisa.mx/GestorLineaCapturaWS/consultaNumeroFacturasResponse"/>
    </operation>
    <operation name="consultaDetalleLineaCaptura">
      <input message="tns:consultaDetalleLineaCaptura"
             wsam:Action="http://ws.negocio.tic.frisa.mx/GestorLineaCapturaWS/consultaDetalleLineaCapturaRequest"/>
      <output message="tns:consultaDetalleLineaCapturaResponse"
              wsam:Action="http://ws.negocio.tic.frisa.mx/GestorLineaCapturaWS/consultaDetalleLineaCapturaResponse"/>
    </operation>
    <operation name="consultaLCFactDet">
      <input message="tns:consultaLCFactDet"
             wsam:Action="http://ws.negocio.tic.frisa.mx/GestorLineaCapturaWS/consultaLCFactDetRequest"/>
      <output message="tns:consultaLCFactDetResponse"
              wsam:Action="http://ws.negocio.tic.frisa.mx/GestorLineaCapturaWS/consultaLCFactDetResponse"/>
    </operation>
    <operation name="consultaDetalleLCPagos">
      <input message="tns:consultaDetalleLCPagos"
             wsam:Action="http://ws.negocio.tic.frisa.mx/GestorLineaCapturaWS/consultaDetalleLCPagosRequest"/>
      <output message="tns:consultaDetalleLCPagosResponse"
              wsam:Action="http://ws.negocio.tic.frisa.mx/GestorLineaCapturaWS/consultaDetalleLCPagosResponse"/>
    </operation>
  </portType>
  <binding name="GestorLineaCapturaWSPortBinding" type="tns:GestorLineaCapturaWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="consultarLineaCaptura">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="generarLineasCaptura">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaNumeroFacturas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaDetalleLineaCaptura">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaLCFactDet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaDetalleLCPagos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GestorLineaCapturaWS">
    <port name="GestorLineaCapturaWSPort" binding="tns:GestorLineaCapturaWSPortBinding">
      <soap:address location="http://localhost:7101/Frisa-Consultas-ViewController-context-root/GestorLineaCapturaWSService"/>
    </port>
  </service>
</definitions>