Frisa-Consultas/Model/classes/gestorfacturasws/GestorFacturasWS1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://ws.negocio.tic.frisa.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.negocio.tic.frisa.mx/">
  <xsd:complexType name="consultaDetalleFacturas">
    <xsd:sequence>
      <xsd:element name="idBatch" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaDetalleFacturasResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:respuestaDetalleFacturaDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarLCFacturas">
    <xsd:sequence>
      <xsd:element name="lineaCaptura" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarLCFacturasResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:respuestaLCFacturaDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaDetalleFacturaDTO">
    <xsd:sequence>
      <xsd:element name="factura_LC" type="ns0:facturaLCDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="proceso" type="ns0:proceso" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="facturaLCDTO">
    <xsd:sequence>
      <xsd:element name="cabecera_Factura" type="ns0:cabecera_FacturaDTO" minOccurs="0"/>
      <xsd:element name="lineas_Factura" type="ns0:lineas_FacturaDTO" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cabecera_FacturaDTO">
    <xsd:sequence>
      <xsd:element name="addendaid" type="xsd:string" minOccurs="0"/>
      <xsd:element name="batchSourceName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="billCustomerAccountNumber" type="xsd:string" minOccurs="0"/>
      <xsd:element name="billCustomerSiteNumber" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="businessUnit" type="xsd:string" minOccurs="0"/>
      <xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="customerTrxTypeName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="description" type="xsd:string" minOccurs="0"/>
      <xsd:element name="facturaUnifier" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="folio" type="xsd:string" minOccurs="0"/>
      <xsd:element name="glDate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lineaDeCaptura" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numeroDeContrato" type="xsd:long" minOccurs="0"/>
      <xsd:element name="numeroDeLocal" type="xsd:string" minOccurs="0"/>
      <xsd:element name="orgId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="origSystemBatchName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paymentTermsName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="proyecto" type="xsd:long" minOccurs="0"/>
      <xsd:element name="trxDate" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lineas_FacturaDTO">
    <xsd:sequence>
      <xsd:element name="lineaDTO" type="ns0:lineaDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lineaDTO">
    <xsd:sequence>
      <xsd:element name="descripManual" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descripOrigen" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descripciOnAdicional1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descripciOnAdicional2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descripciOnAdicional3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descripciOnAdicional4" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descripciOnAdicional5" type="xsd:string" minOccurs="0"/>
      <xsd:element name="flexContext" type="xsd:string" minOccurs="0"/>
      <xsd:element name="flexContextDisplayvalue" type="xsd:string" minOccurs="0"/>
      <xsd:element name="flexNumofsegments" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lineType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="memoLineName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="montoIVALinea" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="montotaxCodeRetIva" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="montotaxCodoRetISR" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="orderLineNumber" type="xsd:short"/>
      <xsd:element name="orderNumber" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="periodoDeFacturacionDesde" type="xsd:string" minOccurs="0"/>
      <xsd:element name="periodoDeFacturacionHasta" type="xsd:string" minOccurs="0"/>
      <xsd:element name="quantity" type="xsd:int" minOccurs="0"/>
      <xsd:element name="siguienteFechaDeExigibilidad" type="xsd:string" minOccurs="0"/>
      <xsd:element name="taxCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="taxCodeRetIva" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="taxCodoRetISR" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="unitSellingPrice" type="xsd:decimal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="proceso">
    <xsd:sequence>
      <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="termino" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuestaLCFacturaDTO">
    <xsd:sequence>
      <xsd:element name="lcFacturas" type="ns0:lcFacturaDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="proceso" type="ns0:proceso" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lcFacturaDTO">
    <xsd:sequence>
      <xsd:element name="billtoconsumername" type="xsd:string" minOccurs="0"/>
      <xsd:element name="companyaccountcode" type="xsd:long" minOccurs="0"/>
      <xsd:element name="idfacturaprimavera" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="idlineacaptura" type="xsd:string" minOccurs="0"/>
      <xsd:element name="linenumber" type="xsd:short" minOccurs="0"/>
      <xsd:element name="montobrutolinea" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="paymenttermdate" type="xsd:string" minOccurs="0"/>
      <xsd:element name="projectid" type="xsd:long" minOccurs="0"/>
      <xsd:element name="relatederpinvoice" type="xsd:string" minOccurs="0"/>
      <xsd:element name="taxrate" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="totalamount" type="xsd:decimal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultaDetalleFacturas" type="ns0:consultaDetalleFacturas"/>
  <xsd:element name="consultaDetalleFacturasResponse" type="ns0:consultaDetalleFacturasResponse"/>
  <xsd:element name="consultarLCFacturas" type="ns0:consultarLCFacturas"/>
  <xsd:element name="consultarLCFacturasResponse" type="ns0:consultarLCFacturasResponse"/>
</xsd:schema>